/*importando css de tabelas*/

@import url('tabelas.css');

@import url('contato.css');

@import url('socialmedia.css');



* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
	font-size: 16pt;
	margin-top: 12px;
	margin-bottom: 10px;
}

a{
	font-size: 1.2rem;
	text-decoration:none;
	color: #105090;
}


nav {
	background-color: #262626;
	overflow: hidden;
	top: 0;
	position: fixed;
	width: 100%;
	float: right;
}

#menu-h ul {
	float: right;
	list-style: none;
	padding: 0;
	background-color: #262626;
}

#menu-h ul li {
	display: inline;
}

#menu-h a {
	color: #fff;
	padding: 20px 5px;
	display: inline-block;
	text-decoration: none;
	transition: 0.4s;
}

#menu-h ul li a:hover {
	color: #ffffff;
  background-color: #245c64;
}

#menu-h ul li:last-child a{
	float: right;
	background-color: #252570;
}

.logo{
	float: left;;
	border-radius: 100px;
	position: fixed;
	display: block;
	padding: 10px;
}


header {

	float: left;
	margin-top: 60px;
	background-color: #fbfbfb;
	padding: 30px;
	width: 100%;
}

header img{
	float: left;
	margin: 0px 10px;
	padding: 0;
}

header h2 p{
	float: left;
	font-size: 40px;
}

header h2{
	font-size: 30px;
}

#perfil div{
	display: block;
	font-family: sans-serif;
	margin: 10px;
	font-size: 10pt;
	float: left;
	padding: 10px;
	border-radius: 50px;
	box-shadow: 3px 1px 10px #262626;
	width: 20%;
	height: 500px;
}

#perfil h2{
	padding: 0;
	font-size: 16px;
	text-align: center;

}

#perfil img{
	height: 188px;
	width: 100%;
	border-radius: 40px 40px 0px 0px;
	margin: 0;
}

#perfil {
	text-align: justify;
	border-radius: 20px;
	float: left;
	display: block;
	margin: auto;
	width: 100%;
	height: 600px;
	background-image: url("bg-peerfil.png");
}


#port h2{
	text-align: left;
}

#btn-conhecer{
	padding: 5px;
	margin-left: auto;
	width: 200px;
	height: 40px;
	border-radius: 20px;
	border: none;
	background-color: #258290;

}

#btn-conhecer:hover{
	background-color: #00f;
}

#btn-conhecer a{

	color: whitesmoke;
	font-size: 18px;
}

#sobre{
	background-color: #bbb;
	width: 100%;
	padding-top: 50px;
	clear: both;
}

.redes{
	display: block;
	margin-left: auto;
  margin-right: auto;
	float: none;
	width: 250px;
	text-align: center;
	padding: 1rem;

	border-radius: 50px;
	background-color: #f1f1f1;
}


#redes img{	
	margin-top: 5px;
	margin-right: 20px;
	margin-left: 30px;
}


/* Style the footer */
footer {
  background-color: #258290;
  padding:50px;
  text-align: center;
  color: white;
}

.btn{
	width: 60px;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}