* {
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    background-color: #efefef;
    overflow: hidden;
}

html{
    font-family: Arial,Arial, Helvetica, sans-serif;
}

h1, h2, p {
    margin-bottom: 20px;
}

div{
    padding: 0;
    margin: 0;
}

.width-100{
    width: 100%;
    background-color: aqua;

    padding: 20px 0;
    height: 400px;
}

nav{
    background-color: burlywood;
    width: 20%;
    float: left;
    display: table;
    height: 100%;
}

article{
    background-color: chocolate;
    width: 80%;
    float: left;
    height: 100%;
    box-sizing: border-box;
}

.fixed-width{
    background-color: darkgoldenrod;
    width: 200px;
    margin: 40px auto;
    text-align: center;
}