

table {
	background: #ffffff;
	border: 1px solid gray;
	width: 100%;
	border-collapse: collapse;
}

table tr{
	border: 1px solid black;
}
table th{
	padding: 1rem;
	background: #237589;

	color: #fbfbfb;
	font-weight: bold;
	font-size: 1.8rem;

	border: 1px solid black;
}

table tbody tr hover{
	background-color: rgba(0, 0, 90, .2);
}

table tbody tr:nth-child{
	background: #258290;
}

table th, 
table td{
	padding: 1rem;
	font-size: 1.2rem;
	text-align: center;

	height: 2rem;
}

table tr td:first-child {
	text-align: center;
	font-weight: bold;
}

table td{
	border: 1px soild #262626;
}


.table-container {
	padding: 2rem 1rem;

}


.table-container h3{
	font-size: 2rem;
	margin-bottom: 2rem;
	text-align: center;
}

tfoot{
	font-size: 1.8rem;
	font-weight: bold;
}

.subtitulo{
	font-weight: bold;
}